<ion-header>
  <ion-navbar>
    <ion-title>Lock</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>

      <!-- Hier vult men het wachtwoord in -->
      <ion-label color="primary">Password:</ion-label>
      <ion-input 
        type="password" 
        placeholder="Password" 
        [(ngModel)]="password">
      </ion-input>
    </ion-item>

    <!-- Met deze knop authenticeert men -->
    <ion-item>
      <button ion-button (click)="sendPass()">
        Authenticate
      </button>
    </ion-item>

    <!-- Met deze knop zet men het slot op slot -->
    <ion-item>
      <button ion-button (click)="lock()">
        Lock
      </button>
    </ion-item>

    <ion-item>
      Lock state: {{lockState}}
    </ion-item>

    <ion-item>
      Connection state: {{connectionState}}
    </ion-item>
  </ion-list>
</ion-content>
